<footer class="dark-orange-links white-text">
  <div class="footer-div">
    <span class="footer-logo">FoodComa</span>
    <div class="footer-links">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>
      <span class="text-white">Copyright 2020. All rights reserved.</span>
    </div>
    <div class="social-media">
      <span class="text-white">Connect with us: </span>
      <div class="social-media-icon">
        <%= image_tag("twitter.svg", :alt => "twitter logo")%>
      </div>
      <div class="social-media-icon">
        <%= image_tag("instagram.svg", :alt => "instagram logo") %>
      </div>
      <div class="social-media-icon">
        <%= image_tag("facebook.svg", :alt => "facebook logo") %>
      </div>
    </div>
  </div>
</footer>