<footer class="dark-orange-links white-text">
  <ul class="flex space-between">
    <ul class="flex">
      <li>
        <a href="#">Privacy Policy</a>
      </li>
      <li>
        <a href="#">Terms & Conditions</a>
      </li>
      <li>
        Copyright 2020. All rights reserved.
      </li>
    </ul>
    <li>
      <div class="social flex">
        <a href="#" class="icon">
          <%= image_tag("twitter.svg", :alt => "twitter logo")%>
        </a>
        <a href="#" class="icon">
          <%= image_tag("instagram.svg", :alt => "instagram logo") %>
        </a>
        <a href="#" class="icon">
          <%= image_tag("facebook.svg", :alt => "facebook logo") %>
        </a>
      </div>
    </li>
  </ul>
</footer>