/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   margin: 0;
   font-family: 'Lato', sans-serif;
 }

 body {
  margin-top: 10px;
  margin-bottom:10px;
 }

 li {
  line-height: 1.5rem;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  object-position: center;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.vertical-center {
  align-items: center;
}

.gray-links a {
  color: #838080;
}

.orange-links a {
  color: #f30;
}

.dark-orange-links a {
  color: #ff5a00;
}

.gray-links a:hover {
  color: #ff5a00;
}

.orange-links a:hover {
  color: #ff5a00;
}

.dark-orange-links a:hover {
  filter: brightness(200%);
}
