// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.signup-field {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-indent: 30px;
  border-radius: 20px;
  align-items: center;
}
