<h2>All Categories</h2>
<% @categories.each do |category| %>
    <tr>
     <td><%= category.name %></td>
     <% if !current_user.nil? %>
     <%= link_to "Delete", category_path(category), :confirm => "Are you sure?", method: :delete%>
     <%end%>
     <br>
    </tr>
<% end %>
<%= link_to "All Articles", articles_path %>

<div class="dropdown show">
    <a class="dropdown-toggle link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        CATEGORIES
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%Category.all.each do |category|%>
            <%=link_to category.name, category_path(category), class: "dropdown-item"%>
        <%end%>
    </div>
</div>