<h1 class="test">Categories index page</h1>
<h2>All Categories</h2>
<% @categories.each do |category| %>
    <tr>
     <td><%= category.name %></td>
     <% if !current_user.nil? %>
     <%= link_to "Delete", category_path(category), :confirm => "Are you sure?", method: :delete%>
     <%end%>
     <br>
    </tr>
<% end %>
<%= link_to "All Articles", articles_path %>